In [1]:
%load_ext sql

In [58]:
%sql sqlite:///empty_db.db

'Connected: @empty_db.db'

## Create each of the tables from database design

**Here the "books" table is created with columns: bookID, title, publisher, releaseDate, isbn and borrowerID**

**The bookID column is the primary key, with borrowersID as a foreign key**

In [75]:
%%sql
DROP TABLE IF EXISTS books;
CREATE TABLE books (
    bookID INT NOT NULL UNIQUE,
    title VARCHAR(255) NOT NULL DEFAULT '',
    publisher VARCHAR(255) NOT NULL DEFAULT '', 
    releaseDate date NOT NULL DEFAULT '',
    isbn INT NOT NULL DEFAULT '', 
    PRIMARY KEY (bookID)
);

SELECT *
FROM books

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

**Create the "branches" table, with branchID as primary key**

In [74]:
%%sql
DROP TABLE IF EXISTS branches;
CREATE TABLE branches (
    branchID INT NOT NULL UNIQUE,
    name VARCHAR(255) NOT NULL DEFAULT '',
    address VARCHAR(255) NOT NULL DEFAULT '', 
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '',
    PRIMARY KEY (branchID)
);

SELECT * 
FROM branches

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

**Create the "borrowers" table, with borrowerID as primary key**

In [72]:
%%sql
DROP TABLE IF EXISTS borrowers;
CREATE TABLE borrowers (
    borrowerID INT NOT NULL UNIQUE,
    firstName VARCHAR(255) NOT NULL DEFAULT '',
    lastName VARCHAR(255) NOT NULL DEFAULT '', 
    address VARCHAR(255) NOT NULL DEFAULT '',
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '', 
    email VARCHAR(255) NOT NULL DEFAULT '',
    phoneNumber INT NOT NULL DEFAULT '',
    PRIMARY KEY (borrowerID)
);

SELECT *
FROM borrowers

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

In [76]:
%%sql
DROP TABLE IF EXISTS dueDate;
CREATE TABLE dueDate (
    bookID INT NOT NULL UNIQUE,
    dueDate date NOT NULL DEFAULT '',
    borrowerID INT NOT NULL DEFAULT '',
    CONSTRAINT borrowers FOREIGN KEY (borrowerID)
    REFERENCES borrowers(borrowerID)
    
    PRIMARY KEY (bookID)
    
);

SELECT *
FROM dueDate

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

In [77]:
%%sql
DROP TABLE IF EXISTS author;
CREATE TABLE author (
    authorID INT  NOT NULL UNIQUE,
    firstName varchar(255) NOT NULL DEFAULT '',
    lastName varchar(255) NOT NULL DEFAULT '',
    
    PRIMARY KEY (authorID)
);

SELECT *
FROM author

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

In [78]:
%%sql
DROP TABLE IF EXISTS bookAuthor;
CREATE TABLE bookAuthor (
    bookID INT NOT NULL UNIQUE,
    authorID INT NOT NULL UNIQUE,
    CONSTRAINT book FOREIGN KEY (bookID)
    REFERENCES book (bookID)
    CONSTRAINT author FOREIGN KEY (authorID)
    REFERENCES author (authorID)
    
);
    
SELECT *
FROM bookAuthor

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

In [79]:
%%sql
DROP TABLE IF EXISTS bookBranches;
CREATE TABLE bookBranches (
    bookID INT NOT NULL UNIQUE,
    branchID INT NOT NULL UNIQUE,
    CONSTRAINT book FOREIGN KEY (bookID)
    REFERENCES book (bookID)
    CONSTRAINT branches FOREIGN KEY (branchID)
    REFERENCES branches (branchID)
    
);
    
SELECT *
FROM bookBranches

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]