In [1]:
%load_ext sql

In [86]:
%sql sqlite:///libraryDB.db

'Connected: @libraryDB.db'

# Create each of the tables from database design

**Here the "books" table is created with columns: bookID, title, publisher, releaseDate, isbn and borrowerID**

**The bookID column is the primary key, with borrowersID as a foreign key**

In [120]:
%%sql
CREATE TABLE books (
    bookID INT NOT NULL UNIQUE,
    title VARCHAR(255) NOT NULL DEFAULT '',
    publisher VARCHAR(255) NOT NULL DEFAULT '', 
    releaseDate date NOT NULL DEFAULT '',
    isbn INT NOT NULL DEFAULT '', 
    branchID INT NOT NULL DEFAULT '',
    CONSTRAINT branches FOREIGN KEY (branchID)
    REFERENCES branches(branchID)
    PRIMARY KEY (bookID)
);

SELECT *
FROM books

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.

[]

**Here the "branches" table is created, with branchID as primary key**

In [108]:
%%sql
CREATE TABLE branches (
    branchID INT NOT NULL UNIQUE,
    name VARCHAR(255) NOT NULL DEFAULT '',
    address VARCHAR(255) NOT NULL DEFAULT '', 
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '',
    PRIMARY KEY (branchID)
);

SELECT * 
FROM branches

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "borrowers" table is created, with borrowerID as primary key**

In [109]:
%%sql
CREATE TABLE borrowers (
    borrowerID INT NOT NULL UNIQUE,
    firstName VARCHAR(255) NOT NULL DEFAULT '',
    lastName VARCHAR(255) NOT NULL DEFAULT '', 
    address VARCHAR(255) NOT NULL DEFAULT '',
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '', 
    email VARCHAR(255) NOT NULL DEFAULT '',
    phoneNumber INT NOT NULL DEFAULT '',
    PRIMARY KEY (borrowerID)
);

SELECT *
FROM borrowers

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "lentBooks" table is created, with two foreign keys, "bookID" and "borrowerID", which together will act as a primary key.**

In [110]:
%%sql
CREATE TABLE lentBooks (
    bookID INT NOT NULL UNIQUE,
    dueDate date NOT NULL DEFAULT '',
    borrowerID INT NOT NULL DEFAULT '',
    CONSTRAINT borrowers FOREIGN KEY (borrowerID)
    REFERENCES borrowers(borrowerID)
    
    PRIMARY KEY (bookID)
    
);

SELECT *
FROM dueDate

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
(sqlite3.OperationalError) no such table: dueDate
[SQL: SELECT *
FROM dueDate]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

**Here the "author" table is created, with a primary key "author".**

In [111]:
%%sql
CREATE TABLE author (
    authorID INT  NOT NULL UNIQUE,
    firstName varchar(255) NOT NULL DEFAULT '',
    lastName varchar(255) NOT NULL DEFAULT '',
    
    PRIMARY KEY (authorID)
);

SELECT *
FROM author

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "bookAuthor" table is created, with two foreign keys, "authorID" and "bookID"**

In [112]:
%%sql
CREATE TABLE bookAuthor (
    bookID INT NOT NULL DEFAULT '',
    authorID INT NOT NULL DEFAULT '',
    CONSTRAINT book FOREIGN KEY (bookID)
    REFERENCES book (bookID)
    CONSTRAINT author FOREIGN KEY (authorID)
    REFERENCES author (authorID)
    
);
    
SELECT *
FROM bookAuthor

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "bookBranches" table is created, with two foreign keys, "bookID" and "branchID"**

In [113]:
%%sql
CREATE TABLE bookBranches (
    bookID INT NOT NULL UNIQUE,
    branchID INT NOT NULL UNIQUE,
    CONSTRAINT book FOREIGN KEY (bookID)
    REFERENCES book (bookID)
    CONSTRAINT branches FOREIGN KEY (branchID)
    REFERENCES branches (branchID)
    
);
    
SELECT *
FROM bookBranches

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

# These queries are psuedo coded to fit the requirements of the project description

**Query for finding how many copies of the book titled "A" and published by "B" are owned by the library branch whose address is "C"**

In [128]:
%%sql
SELECT COUNT(*)
FROM books
WHERE title = 'A' AND publisher = 'B' AND branchID IN (
    SELECT branchID
    FROM branches
    WHERE address = 'C'
);

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

[(0,)]

**How many copies of the book titled "A" are owned by each library branch**

In [129]:
%%sql
SELECT COUNT(branchID)
FROM Books
WHERE title = 'A'
GROUP BY branchID;

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

[]

**Retrieve the names of all borrowers who borrowed the book titled "A" for each library branch**

In [130]:
%%sql
SELECT borrowers.firstName, borrowers.lastName, branches.name
FROM books
INNER JOIN lentBooks ON books.bookID = lentBooks.bookID
INNER JOIN borrowers ON lentBooks.borrowerID = borrowers.borrowerID
INNER JOIN branches ON books.branchID = branches.branchID
WHERE books.title = 'A';

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

[]

**For each book that is loaned out from the branch "A" and whose due date is today, retrieve the book title, the borrower's name, and the borrower's address**

In [132]:
%%sql
SELECT books.title, borrowers.firstName, borrowers.lastName, borrowers.address
FROM lentBooks
INNER JOIN books ON lentBooks.bookID = books.bookID
INNER JOIN borrowers ON lentBooks.borrowerID = borrowers.borrowerID
WHERE lentBooks.dueDate = 'getToday()' AND branchID = 'A';

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

[]

**For each branch, retrieve the branch name and the total number of books loaned out from that branch**

In [125]:
%%sql
SELECT branches.name, COUNT(bookID)
FROM branches
INNER JOIN books ON branches.branchID = books.branchID
WHERE bookID IN (
    SELECT lentBooks.bookID
    FROM lentBooks
    )
GROUP BY branches.branchID;

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

[]