In [1]:
%load_ext sql

In [86]:
%sql sqlite:///libraryDB.db

'Connected: @libraryDB.db'

# Create each of the tables from database design

**Here the "books" table is created with columns: bookID, title, publisher, releaseDate, isbn and borrowerID**

**The bookID column is the primary key, with borrowersID as a foreign key**

In [120]:
%%sql
CREATE TABLE books (
    bookID INT NOT NULL UNIQUE,
    title VARCHAR(255) NOT NULL DEFAULT '',
    publisher VARCHAR(255) NOT NULL DEFAULT '', 
    releaseDate date NOT NULL DEFAULT '',
    isbn INT NOT NULL DEFAULT '', 
    branchID INT NOT NULL DEFAULT '',
    CONSTRAINT branches FOREIGN KEY (branchID)
    REFERENCES branches(branchID)
    PRIMARY KEY (bookID)
);

SELECT *
FROM books

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.

[]

**Here the "branches" table is created, with branchID as primary key**

In [108]:
%%sql
CREATE TABLE branches (
    branchID INT NOT NULL UNIQUE,
    name VARCHAR(255) NOT NULL DEFAULT '',
    address VARCHAR(255) NOT NULL DEFAULT '', 
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '',
    PRIMARY KEY (branchID)
);

SELECT * 
FROM branches

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "borrowers" table is created, with borrowerID as primary key**

In [109]:
%%sql
CREATE TABLE borrowers (
    borrowerID INT NOT NULL UNIQUE,
    firstName VARCHAR(255) NOT NULL DEFAULT '',
    lastName VARCHAR(255) NOT NULL DEFAULT '', 
    address VARCHAR(255) NOT NULL DEFAULT '',
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '', 
    email VARCHAR(255) NOT NULL DEFAULT '',
    phoneNumber INT NOT NULL DEFAULT '',
    PRIMARY KEY (borrowerID)
);

SELECT *
FROM borrowers

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "lentBooks" table is created, with two foreign keys, "bookID" and "borrowerID", which together will act as a primary key.**

In [110]:
%%sql
DROP TABLE IF EXISTS lentBooks;
CREATE TABLE lentBooks (
    bookID INT NOT NULL UNIQUE,
    dueDate date NOT NULL DEFAULT '',
    borrowerID INT NOT NULL DEFAULT '',
    CONSTRAINT borrowers FOREIGN KEY (borrowerID)
    REFERENCES borrowers(borrowerID)
    
    PRIMARY KEY (bookID)
    
);

SELECT *
FROM dueDate

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
(sqlite3.OperationalError) no such table: dueDate
[SQL: SELECT *
FROM dueDate]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

**Here the "author" table is created, with a primary key "author".**

In [111]:
%%sql
DROP TABLE IF EXISTS author;
CREATE TABLE author (
    authorID INT  NOT NULL UNIQUE,
    firstName varchar(255) NOT NULL DEFAULT '',
    lastName varchar(255) NOT NULL DEFAULT '',
    
    PRIMARY KEY (authorID)
);

SELECT *
FROM author

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "bookAuthor" table is created, with two foreign keys, "authorID" and "bookID"**

In [112]:
%%sql
DROP TABLE IF EXISTS bookAuthor;
CREATE TABLE bookAuthor (
    bookID INT NOT NULL DEFAULT '',
    authorID INT NOT NULL DEFAULT '',
    CONSTRAINT book FOREIGN KEY (bookID)
    REFERENCES book (bookID)
    CONSTRAINT author FOREIGN KEY (authorID)
    REFERENCES author (authorID)
    
);
    
SELECT *
FROM bookAuthor

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

**Here the "bookBranches" table is created, with two foreign keys, "bookID" and "branchID"**

In [113]:
%%sql
DROP TABLE IF EXISTS bookBranches;
CREATE TABLE bookBranches (
    bookID INT NOT NULL UNIQUE,
    branchID INT NOT NULL UNIQUE,
    CONSTRAINT book FOREIGN KEY (bookID)
    REFERENCES book (bookID)
    CONSTRAINT branches FOREIGN KEY (branchID)
    REFERENCES branches (branchID)
    
);
    
SELECT *
FROM bookBranches

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.
Done.
Done.

[]

In [117]:
%sql SELECT * FROM sqlite_master WHERE type='table' ORDER BY name;

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

[('table', 'author', 'author', 11, "CREATE TABLE author (\n    authorID INT  NOT NULL UNIQUE,\n    firstName varchar(255) NOT NULL DEFAULT '',\n    lastName varchar(255) NOT NULL DEFAULT '',\n    \n    PRIMARY KEY (authorID)\n)"),
 ('table', 'bookAuthor', 'bookAuthor', 13, 'CREATE TABLE bookAuthor (\n    bookID INT NOT NULL UNIQUE,\n    authorID INT NOT NULL UNIQUE,\n    CONSTRAINT book FOREIGN KEY (bookID)\n    REFERENCES book (bookID)\n    CONSTRAINT author FOREIGN KEY (authorID)\n    REFERENCES author (authorID)\n    \n)'),
 ('table', 'books', 'books', 2, "CREATE TABLE books (\n    bookID INT NOT NULL UNIQUE,\n    title VARCHAR(255) NOT NULL DEFAULT '',\n    publisher VARCHAR(255) NOT NULL DEFAULT '', \ ... (89 characters truncated) ... hID VARCHAR(255) NOT NULL DEFAULT '',\n    CONSTRAINT branches FOREIGN KEY (branchID)\n    REFERENCES branches(branchID)\n    PRIMARY KEY (bookID)\n)"),
 ('table', 'borrowers', 'borrowers', 7, "CREATE TABLE borrowers (\n    borrowerID INT NOT NULL UNIQUE,\n    firstName VARCHAR(255) NOT NULL DEFAULT '',\n    lastName VARCHAR(255) NOT NULL DE ... (111 characters truncated) ... AR(255) NOT NULL DEFAULT '', \n    email VARCHAR(255) NOT NULL DEFAULT '',\n    phoneNumber INT NOT NULL DEFAULT '',\n    PRIMARY KEY (borrowerID)\n)"),
 ('table', 'branches', 'branches', 5, "CREATE TABLE branches (\n    branchID INT NOT NULL UNIQUE,\n    name VARCHAR(255) NOT NULL DEFAULT '',\n    address VARCHAR(255) NOT NULL DEFAULT '', \n    zipCode INT NOT NULL DEFAULT '',\n    city VARCHAR(255) NOT NULL DEFAULT '',\n    PRIMARY KEY (branchID)\n)"),
 ('table', 'lentBooks', 'lentBooks', 9, "CREATE TABLE lentBooks (\n    bookID INT NOT NULL UNIQUE,\n    dueDate date NOT NULL DEFAULT '',\n    borrowerID INT NOT NULL DEFAULT '',\n    CONSTRAINT borrowers FOREIGN KEY (borrowerID)\n    REFERENCES borrowers(borrowerID)\n    \n    PRIMARY KEY (bookID)\n    \n)")]

   sqlite:///empty_db.db
 * sqlite:///libraryDB.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.