In [1]:
%load_ext sql

In [58]:
%sql sqlite:///empty_db.db

'Connected: @empty_db.db'

Create

In [66]:
%%sql
DROP TABLE IF EXISTS books;
CREATE TABLE books (
    bookID INT NOT NULL UNIQUE,
    title VARCHAR(255) NOT NULL DEFAULT '',
    publisher VARCHAR(255) NOT NULL DEFAULT '', 
    releaseDate date NOT NULL DEFAULT '',
    isbn INT NOT NULL DEFAULT '',
    borrowerID INT, 
    PRIMARY KEY (bookID)
    CONSTRAINT borrowers FOREIGN KEY (borrowerID)
    REFERENCES borrowers(borrowerID)
);

SELECT *
FROM books

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

In [67]:
%%sql
DROP TABLE IF EXISTS branches;
CREATE TABLE branches (
    branchID INT NOT NULL UNIQUE,
    name VARCHAR(255) NOT NULL DEFAULT '',
    address VARCHAR(255) NOT NULL DEFAULT '', 
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '',
    PRIMARY KEY (branchID)
);

SELECT * 
FROM branches

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]

In [72]:
%%sql
DROP TABLE IF EXISTS borrowers;
CREATE TABLE borrowers (
    borrowerID INT NOT NULL UNIQUE,
    firstName VARCHAR(255) NOT NULL DEFAULT '',
    lastName VARCHAR(255) NOT NULL DEFAULT '', 
    address VARCHAR(255) NOT NULL DEFAULT '',
    zipCode INT NOT NULL DEFAULT '',
    city VARCHAR(255) NOT NULL DEFAULT '', 
    email VARCHAR(255) NOT NULL DEFAULT '',
    phoneNumber INT NOT NULL DEFAULT '',
    PRIMARY KEY (borrowerID)
);

SELECT *
FROM borrowers

 * sqlite:///empty_db.db
Done.
Done.
Done.

[]